:root{
    --primary-color: #4b2222;
    --secondary-color: #693737;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}
.search::placeholder{
    color: #c57373;
}
.search:focus{
    outline: none;
    background-color: var(--primary-color);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}